body {
    background-color: #000000;
}

div {
    width: 500px;
    margin: 50px auto;
}

h1 {
    font-family: verdana;
    font-size: 28px;
    color: #ffffff;
}

img {
    width: 500px;
    border: 5px solid #009200;
}

p {
    font-family: verdana;
    color: #ffffff;
    font-size: 18px
}

span {
    font-family: verdana;
    color: #ffffff;
    font-size: 18px;
    border-left: 3px solid #009200;
    border-bottom: 3px solid #009200;
    font-weight: bold

}